header
{
background-image: url("BGbanner.jpg");
background-size: cover;
background-repeat: no-repeat;

}

.btn{
    border: 1px solid rgb(255, 255, 255);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }

.btn1{
  color: rgb(255, 255, 255);
}

.btn1:hover{
  color: rgb(0, 0, 0);
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #000000;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn1:hover::before{
    height: 180%;
  }